<div class="header-top">
  <div class="container clearfix">
      <div class="logo">
          <figure>
              <a ui-sref="empty">
                  <img src="../assets/logo.png" alt="">
              </a>
          </figure>
      </div>
      <ul class="contact-links">
          <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i># 2/514, East Street, Pangayar Selvi, No:1 Tollgate, Bikshandar Kovil, Trichy - 621 216. Tamil Nadu,
              India.
          </li>
          <li>
              <i class="fa fa-phone" aria-hidden="true"></i>+91-8754 000 719</li>
      </ul>
  </div>
</div>
<header class="main-header sticky-header" >
  <div class="container">
      <div class="header-area clearfix">
          <nav class="navbar navbar-expand-md main-menu">
              <div class="navbar-header">
                  <!-- Toggle Button -->
                  <button class="navbar-toggler navbar-toggle" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <!--  -->
              <div class="navbar-collapse collapse clearfix" id="collapsibleNavbar">
                  <ul class="navbar-nav navigation clearfix">
                      <li>
                          <a routerLink="/home">Home</a>
                      </li>
                      <li class="dropdown">
                          <a>Products</a>
                          <div class="dropdown-btn dropdown-toggle" data-toggle="dropdown">
                          </div>
                          <ul id="subMenu" class="dropdown-menu">
                              <li>
                                  <a [routerLink]="['/products', 0]">Pug Cutting</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/products', 1]">Consumables</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/products', 2]">CNC Profile Cutting Machine</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/products', 3]">Cutting Machine Plasma</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/products', 4]">Fillet Welding Tractor</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/products', 5]">Beveling Machine</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a routerLink="/service">Services</a>
                      </li>
                      <li>
                          <a routerLink="/contact">Contact us</a>
                      </li>
                  </ul>
              </div>
          </nav>
      </div>
  </div>
</header>