<footer class="main-footer">
  <div class="footer-top">
      <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="about-widget">
                      <div class="footer-logo">
                          <figure>
                              <a routerLink="/home"><img src="../assets/logo.png" alt=""></a>
                          </figure>
                      </div>
                      <p>Altask Systechs specialise in repairing Electronic units including; Printed Circuit Boards (PCB), Power Inverters, Encoders, Drives, Servos, CNC Controllers, Power Supply Units, Plasma & Welding Machines</p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="menu-link">
                      <h6>Link</h6>
                      <ul>
                          <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Company History</a></li>
                          <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>About Us</a></li>
                          <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Contact Us</a></li>
                          <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Services</a></li>
                          <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="contact-links">
                      <h6>Contact Us</h6>
                      <p>Reach us on</p>
                      <ul class="location-info">
                          <li><strong>Address:</strong>&nbsp;&nbsp;&nbsp; # 2/514, East Street, Pangayar Selvi, No:1 Tollgate, Bikshandar Kovil
                               <br> 
                               Trichy - 621 216. Tamil Nadu, India</li>
                          <li><strong>Phone: </strong>&nbsp;&nbsp; +[91] 8754 000 719</li>
                          <li><strong>Email: </strong>&nbsp; <a href="">altasksystechs@gmail.com</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="newsletter-cloumn">
                      <form id="contact-form" name="contact_form" class="default-form" action="http://html.tonatheme.com/2017/power/sendmail.php"
                          method="post">
                          <input type="email" name="email" placeholder="Enter Email" required="">
                          <button type="submit" class="btn-style-one">subcribe</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="container clearfix">
          <div class="copyright-text">
              <p><a routerLink="/home">Altask Systechs</a> © 2017 All Right Reserved</p>
          </div>
          <!-- <ul class="social-links">
              <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul> -->
      </div>
  </div>
</footer>