<section class="about-section">
  <div class="container">
    <div class="section-title text-center">
      <h3>About
        <span>Company</span>
      </h3>
      <p>Established in the year 2011 at Tamil Nadu, India, We "Altask Systechs" are Sole Proprietorship based firm, involved
        as the Manufacturer of Gas Cutting Machine, Wholesale Trader of Hypertherm Plasma Consumables, Hypertherm Electrode
        and much more. we also provide Plasma Machine Repairing Service and CNC Profile Cutting Service. All our products
        are getting widely acclaimed among the large clientele for their exclusive designs, superior quality, and reliability.
        Apart from this, our ability to maintain timelines as well as quality in the assortment, providing cost effective
        solutions and assurance to make timely shipment of the orders placed by customers have assisted us positioning our
        name in the list of top-notch companies of the industry.
      </p>
      <div class="border-shep"></div>
    </div>
  </div>
</section>