<app-header></app-header>
<!--Page Title-->
<section class="page-title">
    <div class="container">
        <div class="section-title">
            <h3>Service</h3>
        </div>
        <ul class="title-list">
            <li>
                <a routerLink="/home">home
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </li>
            <li>service</li>
        </ul>
    </div>
</section>
<!--End Page Title-->


<!--Service Section-->
<section class="service-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="section-title">
                    <p>We offer worlds best service support for the electronics products</p>
                    <div class="border-shep style-two"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="item-holder">
                            <div class="icon-box">
                                <i class="flaticon-lamp"></i>
                            </div>
                            <a href="#">
                                <h6>PCB</h6>
                            </a>
                            <p>Single-sided PCB, double-sided boards and multi-layer printed circuit board service</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="item-holder">
                            <div class="icon-box">
                                <i class="flaticon-technology"></i>
                            </div>
                            <a href="#">
                                <h6>Inverter</h6>
                            </a>
                            <p>Inverter based welding & plasma machines, Soft start power inverter repair, DC drives,
                                servos and stepper motor.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="item-holder">
                            <div class="icon-box">
                                <i class="flaticon-fan"></i>
                            </div>
                            <a href="#">
                                <h6>Power Supply</h6>
                            </a>
                            <p>Single and 3 phase - switch mode (SMPS), linear, UPS and solar power controllers.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="item-holder">
                            <div class="icon-box">
                                <i class="flaticon-air-conditioner-1"></i>
                            </div>
                            <a href="#">
                                <h6>CNC</h6>
                            </a>
                            <p>Controller, Inverter, Servo Drives, PLC's, HMI's, Encoders and Digital read-outs, Etc,.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="item-holder">
                            <div class="icon-box">
                                <i class="flaticon-air-conditioner-1"></i>
                            </div>
                            <a href="#">
                                <h6>Consumables</h6>
                            </a>
                            <p>Plasma & Oxy-fuels cutting</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="item-holder">
                            <div class="icon-box">
                                <i class="flaticon-air-conditioner-1"></i>
                            </div>
                            <a href="#">
                                <h6>CNC RETROFIT</h6>
                            </a>
                            <p>A CNC retrofit involves replacing the CNC control, servo and spindle motors, drives,
                                electrical components along with the existing wiring on a machine</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="image-box">
                    <figure>
                        <img src="altask/assets/ServiceMan.png" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>