<section class="team-section">
  <div class="container">
      <div class="section-title text-center">
          <h3>Our Major <span>Products</span></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor</p>
          <div class="border-shep"></div>
      </div>
      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="image-holder">
                  <div class="image-box text-center">
                      <figure>
                          <a href=""><img src="./Electrician Template _ Home Page_files/1(1).png" alt=""></a>
                      </figure>
                  </div>
                  <div class="image-background"></div>
                  <div class="content-text text-center">
                      <a href="">
                          <h6>Carl Peppard</h6>
                      </a>
                      <p>Electrician</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="image-holder">
                  <div class="image-box text-center">
                      <figure>
                          <a href=""><img src="./Electrician Template _ Home Page_files/2.png" alt=""></a>
                      </figure>
                  </div>
                  <div class="image-background"></div>
                  <div class="content-text text-center">
                      <div class="text">
                          <a href="">
                              <h6>Carl Peppard</h6>
                          </a>
                          <p>Electrician</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="image-holder">
                  <div class="image-box text-center">
                      <figure>
                          <a href=""><img src="./Electrician Template _ Home Page_files/3.png" alt=""></a>
                      </figure>
                  </div>
                  <div class="image-background"></div>
                  <div class="content-text text-center">
                      <div class="text">
                          <a href="">
                              <h6>Carl Peppard</h6>
                          </a>
                          <p>Electrician</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="image-holder">
                  <div class="image-box text-center">
                      <figure>
                          <a href=""><img src="./Electrician Template _ Home Page_files/4.png" alt=""></a>
                      </figure>
                  </div>
                  <div class="image-background"></div>
                  <div class="content-text text-center">
                      <div class="text">
                          <a href="">
                              <h6>Carl Peppard</h6>
                          </a>
                          <p>Electrician</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>