.product-logo{
	max-width: 100%;
	width:50%;
	height: 80%;
	float:left;
}

.prod-img{
	width:90%;
	height: 90%;
    max-width: 100%;
}


.product-description{
	padding: 10px;
}



.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
	padding: 0 4px;
	column-count: 2;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
	padding: 0 4px;
	position: relative;
}
.column:hover{
	border: 1px solid #777;
	> .overlay{
		background-color:black;
	}
}

.column > .overlay{
	background-color:transparent;
	height: 100%;
	width: 100%;
	position: absolute;
}

.column img {
    margin-top: 8px;
	vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}