<app-header></app-header>

<!--Page Title-->
<section class="page-title">
    <div class="container">
        <div class="row">
            <h3 class="col-md-3 col-xs-3">{{mainProduct.name}}</h3>
            <div class="col-md-9 col-xs-9">
                <img [src]="mainProduct.logoImage" class=" product-logo" />
            </div>
        </div>
        <ul class="title-list">
            <li>
                <a routerLink="/home">home
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </li>
            <li>contact us</li>
        </ul>
    </div>
</section>
<!--End Page Title-->

<div class="container">
    <div style="padding:2px; margin: 2px" *ngFor="let product of mainProduct.products" class="row">
        <div class="col-md-4 col-xs-3">
            <img class="img-responsive prod-img" [src]="product.image" />
        </div>
        <div class="col-md-8 col-xs-9">
            <p class="product-description">{{product.description}}</p>
        </div>
    </div>
</div>



<app-footer></app-footer>