<app-header></app-header>

<!--Page Title-->
<section class="page-title">
    <div class="container">
        <div class="row">
            <h3 class="col-md-2 col-xs-3">{{mainProduct.name}}</h3>
            <div class="col-md-6 col-xs-9">
                <img [src]="mainProduct.logoImage" class=" product-logo" />
            </div>
            <ul class="col-md-4 title-list">
                <li>
                    <a routerLink="/home">home
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li>products > {{mainProduct.name}}</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<div class="container">
    <div class="row">
        <a [routerLink]="['/prodDetail', mainProduct.id,  product.id]" class="column" *ngFor="let product of mainProduct.products" style="padding:4%">
            <img [src]="product.image" style="width:100%" [style.height]="mainProduct.products.length > 3 ? '100%' : '50%'" />
            <div style="margin: 2% 0 0 0">{{product.description}} </div>
        </a>
    </div>
</div>



<app-footer></app-footer>