<app-header></app-header>

<!--Page Title-->
<section class="page-title">
    <div class="container">
        <div class="row">
            <h3 class="col-md-2 col-xs-3">{{mainProduct.name}}</h3>
            <div class="col-md-6 col-xs-9" *ngIf="mainProduct.isLogoAvailable">
                <img [src]="mainProduct.logoImage" class="product-logo" />
            </div>
            <ul class="col-md-4 title-list">
                <li>
                    <a routerLink="/home">home
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li>products > {{mainProduct.name}}</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<ul id="rig">
    <li *ngFor="let product of mainProduct.products">
        <!-- <a class="rig-cell" [routerLink]="['/prodDetail', mainProduct.id,  product.id]">
            
            <span class="rig-overlay"></span>
            <span class="rig-text">Lorem Ipsum Dolor</span>
        </a> -->
        <a class="rig-cell" [routerLink]="['/prodDetail', mainProduct.id,  product.id]">
            <span class="rig-img" [ngStyle]="{'background-image': getUrl(product)}"></span>
            <!-- <span class="rig-img" [style.background-image]="'url(./../assets/arev.jpg)'"></span> -->
            <h3>{{product.name}}</h3>
            <span class="rig-overlay"></span>
        </a>
    </li>
</ul>


<app-footer></app-footer>