<app-header></app-header>

<!--Page Title-->
<section class="page-title">
  <div class="container">
    <div class="row">
      <h3 class="col-md-8 col-xs-9">{{mainProduct.name}}</h3>
      <ul class="col-md-4 col-xs-3 title-list">
        <li>
          <a routerLink="/home">home
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
        </li>
        <li>products > {{mainProduct.name}} </li>
      </ul>
    </div>
  </div>
</section>
<!--End Page Title-->

<div class="row" style="padding: 30px 10px">
  <div class="col-md-2 col-sm-2 center"></div>
  <div class="col-md-4 col-sm-4 col-xs-12 center">
    <img [src]="mainProduct.image" style="width:100%;" />
  </div>
  <div class="detail-panel" class="col-md-6 col-sm-6 col-xs-12">
    <div *ngIf="mainProduct.descripions.length > 0 then content">

    </div>
    <div *ngIf="mainProduct.descripions.length == 0 then detailContent">

    </div>
  </div>
</div>

<ng-template #content>
  <div class="detail-parent">
    <span class="detail-grid vertical-center" *ngFor="let description of mainProduct.descripions">
      <div>{{description.key}}</div>
      <div>{{description.value}}</div>
    </span>
  </div>
</ng-template>

<ng-template #detailContent>
  <div>{{mainProduct.description}}</div>
</ng-template>


<app-footer></app-footer>